

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.text-org{
  color:#FDC040 ;
  font-size: 20px;
  font-weight: 600;

}

.header{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 0px;
  box-shadow: 0 3px 6px rgba(0 0 0 /20%);

}
.text-b{
  color: #8d8a8a;
  font-size: 20px;
  font-weight: 600;

}
p{
  color: #616161;
  font-size: 19px;
}
.headerWrapper{
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  background: #fff;
}
.container-fluid{
  padding: 0px 45px;
}
.logo{
  padding-left: 20px;
}
.logo h5{
  font-weight: 800;
  /* color: #F1B85B; */
  color: #EC7676 ; 
   /* color:  #76ECAD; 
  color: #7B4FB6 ; 
   color: #D09DF3;
  color:  #ECAD76; */
  font-style: italic;
}

.logoImg{
  width: 80px;
  height: 50px;
  padding-left: 30px;
}
.headerSearch{
  width: 100%;
  height: 60px;
  border: 1px solid #AD76EC;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0 0 0 /20%);
 
}
.selectDropdown{
  width: 22%;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.selectDropdown:after{
  content:''; 
   width: 1px;
   height:30px; 
   background:#9365c9;
   opacity: 0.5;
   position: absolute;
   top:5px; 
   right:-22px;
   bottom: 0px;
}
.selectDropdownlocation{
  width: 22%;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
}

.cursor{
  cursor: pointer;

}
.search{
  width: 82%;
  padding-left: 30px;
  position: relative;

}
.search input{
  width: 100%;
  height: 50px;
  border: 0px;
  outline: none;
  font-size: 16px;
}
.icon{
  position: absolute;
  top:15px; 
  right:10px;
  color: #AD76EC;

}

.selectDrop{
  width: 200px;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 120%;
  left: 0px;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0 0 0 /20%);
  padding: 15px;
}
.searchfield input{
width: 100%;
height: 40px;
border: 1px solid #AD76EC;
outline: none;
padding: 0 15px;
}
.result{
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  max-height: 250px;
  overflow-y: scroll;
  margin-top: 10px;
}
.result::-webkit-scrollbar{
  width: 8px;
}
.result::-webkit-scrollbar-thumb{
  background: #ccc ;
}
.result li{
list-style: none;
font-size: 16px;
width: 100%;
padding: 7px;
color: rgb(0, 0,0,0.7);
}
.result li:hover{
  background-color: #AD76EC;
  color: #fff;
}
.result li.active{
 background: #f1f1f1;
 color: black;
}
.openSelect{
  display: block;
  padding: 10px 0px;
}
.arrow{
  position: absolute;
  top: 15px;
  right: 10px;
  left:110px;
  font-size: 16px;
}
.icn{
  color:#362b2b;
  font-size: 15px;
}
.icn:hover{
  color: black !important;
}

.countrywrapper .selectDropdownlocation{
  width: 180px;
 border: 1px solid  #AD76EC;
 color: #AD76EC;
 height: 45px;
 padding-left: 10px;
 display: flex;
 align-items: center;
 box-shadow: 0 3px 6px rgba(0 0 0 /20%);

}
.arrow1{
  position: absolute;
  top: 15px;
  right: 50px;
  left:140px;
  font-size: 14px;
}
.country .headerTabs {
  padding-left: 60px !important;

}
.headerTabs li{
  justify-content: space-evenly;
  margin: 3px;
 
}
.spn{
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

 

}

.listing li{
  padding-left: -20px!important;

}
.spn .badge{
  width: 21px;
  height: 21px;
  color: #fff;
  font-weight: 400;
  position: relative;
  top: -10px;
  left: -50px;
  background-color: #EC7676!important;
}

.rightside{
  margin-left: auto;
}
.country{
  width: 100%;
}
.nav{
  width: 100%;
  height: 80px;
  /* margin: auto; */
  border-top: 1px solid rgb(0, 0,0,0.1);
  border-bottom: 1px solid rgb(0, 0,0,0.1);
  box-shadow: 0 3px 6px rgba(0 0 0 /20%);



}

.nav .btn{
  background: #EC7676;
  color: white;
  font-size: 18px!important;
  text-transform: capitalize!important;
  padding: 8px 20px!important;
}
.nav .btn:hover{
  background: #EC7676;
  color: white;
}
.head{
  margin-left: 5px;
}
.nav nav ul li button{
  text-transform: capitalize;
  font-size: 18px;
  padding: 20px 19px;
  color:rgb(0, 0,0,0.9) !important;

}
.nav nav ul li button:hover{
  color: #EC7676!important;
}
.nav nav ul li button a{
 text-decoration: none;
 color:rgb(0, 0,0,0.9) !important;
}
.info h5{
  color: #EC7676;
}
.info{
  margin-left: 10px;
}
.phone{
  color: #EC7676;
}
.info p{
  color: #9365c9;
}
.home-slider{
  padding: 30px 0px;
}
.home-slider-main{
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.slick-arrow{
  position: absolute;
  top: 47%;
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%!important;
  background: #9365c9!important;
  z-index: 1000!important;

}
.slick-arrow.slick-next{
  right:2%!important ;
}
.slick-arrow.slick-prev{
  left:2%!important ;
}

.submitbtn{
   align-items: center;
   width: 40%;
   text-align: center;
   background: #EC7676!important;
   border: none!important;
   margin-left:30%;
   font-size: 20px!important;
   font-weight: 700;
}
.log{
  width: 30%!important;
}
h2{
  text-align: center;
  padding: 20px;
  color: #EC7676!important;
  font-weight: 400;
  
}
.containerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 20px;
}
.containerdiv1 {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  margin: 40px;
  margin-left: 35%;

}

.registration-form {
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px #9365c9; /* Box shadow */
}
.registration-form input:focus {
  box-shadow: 0 0 5px #EC7676!important;
}

.para{
  text-align: center;
  font-size: 18px;
}
.para a{
  color:#EC7676;
  margin-left: 6px;
}
.CategorySliderSection{
  width: 100%;
  height: auto;
  padding: 30px 0px;
}
.hd{
  font-size: 35px!important;
  font-weight: 600!important;
  margin-bottom: 25px!important;
  text-align: left;
  color:#41003A!important;
}
.cat-slider-main .slick-slide {
 padding-right: 20px!important;

}
.cat-slider-main .item{
  height:auto;
  background-color:#e8dff3;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  padding: 15px 0px;

}

.info .cat1{
  height: 100px;
  width: 100px;
  padding-left: 0px;
}
.cat-slider-main .item .info{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  transition: all 0.3s ease-in-out!important;
  position: relative;
}
.cat-slider-main .item .info h5{
  font-weight: 600!important;
  padding-top: 20px;
  font-size:16px;
}
.cat-slider-main .item .info p{ 
  font-size: 14px;
  opacity: 0.8;
  color: #000;
  margin-bottom: 0px;
}
.cat-slider-main .slick-arrow{
  zoom: 80%;
}
.cat-slider-main .slick-arrow.slick-next{
  top: -50px!important;
  right: 15px!important;
}
.cat-slider-main .slick-arrow.slick-prev{
  top: -50px!important;
  right: 90px!important;
  left: inherit!important;
}


.cat-slider-main .item:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
  transform: scale(1.1);
}
.transition{
  transition: all 0.3s ease-in-out!important;
}
.imgbanner{
  height: 240px!important;
}
.bannerSection{
  padding: 25px 0px;
}
.bannerSection .box{
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  height: fit-content;
}
.bannerSection .box:hover img{
 transform: scale(1.1);
 rotate: (1deg);
}

.homeProducts{
padding: 25px 0px;
}
.popular{
  margin-left: auto;
}
.popular li{
  margin-left: 20px;
}
.popular li a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  position: relative;
}
.popular li a:hover{
  color: #EC7676;
  transform: translateY(-10px);
}

.homeProducts .productRow{
  display: flex;
  padding: 30px 0px;
  margin: 0px -15px;
  flex-wrap: wrap;



}
.homeProducts .productRow .item{
  width: 20%;
  padding: 15px 15px;

}
.productThumb{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  border-radius: 15px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.productThumb:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
}
.productThumb .catName{
  color:#EC7676;
  opacity: 0.9;
  font-size: 14px;
}
.productThumb .title a{
  color: #000!important;
}
.productThumb .imgWrapper{
  width: 100%;
  overflow: hidden;
}
.productThumb .imgWrapper img{
  transition: all 0.3s ease-in-out;
}
.productThumb:hover .imgWrapper img{
  transform: scale(1.1);
}

.clr{
  color:#EC7676;
}


.productThumb .title{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px;
  line-height: 25px;

}
.productThumb .price{
  color: #EC7676;
  font-weight: bold;
  font-size: 22px;
  margin-right: 20px;
}

.productThumb .oldprice{
  color: #000;
  font-weight: bold;
  opacity: 0.6;
  font-size: 17px;
  text-decoration: line-through;
}
.addbtn{
  margin-left: 6px!important;
  background-color: #f0d6d6!important;
  font-size: 18px!important;
  padding: 5px 5px!important;
  text-transform: capitalize!important;
  color:#EC7676!important;
}
.addbtn:hover{
  background-color: #EC7676!important;
  color: #fff!important;
}
 .overlay1{
  top: -20px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255,255,0.1)!important;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  position: absolute;

}
.productThumb:hover .imgWrapper .overlay1{
  opacity: 1;
  transform: scale(1);
}
.overlay1 ul{
  background:#fff!important;
  width: 140px;
  height: auto;
  border-radius: 7px;
  border: 1px solid #EC7676;
}
.overlay1 ul li{
  margin-right: 0px!important;

}
.overlay1 ul li a{
  display: block;
  padding: 8px;
  color: #EC7676!important;
  border-right: 1px solid #EC7676;

}
.overlay1 ul li a:hover{
  color: #242323;
}
.badge1{
  top: 0px;
  left: 0px;
  display: inline-block;
  background-color: rgb(34, 153, 34);
  position: absolute;
  color: #fff;
  font-size: 15px!important;
  padding: 5px 25px!important;
  border-bottom-right-radius: 50px!important;
  border-top-left-radius: 5px!important;
  text-transform: capitalize;

}
.badge1.beauty{
  background: rgb(226, 226, 14)!important;
}

.badge1.sale{
  background: #f74b81!important;
}
.badge1.new{
  background: #67bcee!important;
}

.badge1.best{
  background: #d87b3d!important;
}
.homeProductsRow2 .prodSlider .item{
  padding-right:20px!important;
  padding: 10px 5px!important;

}
.homeProducts .shamp img{
  height: 450px!important;
}
.listingPage{
  width: 100%;
  height: auto;
  padding: 45px 0px;
}
.breadcrum{
  width: 100%;
  height: auto;
  padding: 20px 45px;
  background-color: #fcb0b0;
  border-radius: 20px;
  margin-bottom: 30px;
}
.breadcrum h1{
  color: #000;
  opacity: 0.8;
  font-size: 40px;
  font-weight: bold;

}
.breadcrum ul li{
  margin-right: 20px!important;

}
.breadcrum ul li a{
  color: #000!important;
  text-decoration: none;
  font-size: 20px;
  
}
.SidebarWrapper h3{
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.SidebarWrapper h3:after{
  content: '';
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.SidebarWrapper h3:before{
  content: '';
  width: 20%;
  height: 3px;
  background: #fcb0b0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}
.SidebarWrapper ,.Sidebar{
  position: sticky;
  top: 110px;
}
.SidebarWrapper{
  max-width: 20%!important;
  flex: 0 0 20%!important;
}
.Sidebar .card{
  padding: 25px;
border-radius: 10px!important;
margin-top: 40px;
}
.Sidebar .card .catlist .catitem{
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.05);
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.Sidebar .card .catlist .catitem:hover{
  border: 1px solid rgba(0,0,0,0.2);
}
.Sidebar .card .catlist .catitem h4{
  color: #000;
  font-size: 14px;
}
.word{
  margin-left: 10px!important;
  margin-right: 3px!important;
}
.num{
  margin-left: auto!important;
}
.rounded-circle{
  background:#fcb0b0 ;
  height: 25px;
  width: 25px;
  justify-content: center;
}
.right-content{
  max-width: 80%!important;
  flex: 0 0 80%!important;
}
.range{
  margin-left: auto!important;
}
.text{
  color: #EC7676;
}
.priceRange span{
  font-size: 18px;
}
.filters{
  padding: 25px 0px;
}
.filters ul li{
  width: 100%;
  margin-bottom: 0px;
  list-style: none;
}
.filters ul{
  max-height: 200px;
  overflow-y: scroll;
  margin-left: -30px!important;
}
.filters ul::-webkit-scrollbar{
  width: 10px!important;
}
.filters ul::-webkit-scrollbar-thumb{
  background: #ccc!important;
}
.filters h5{
  font-weight: 600;
  margin-bottom: 10px;
}
.btnfilter{
  background: #EC7676!important;
  color: #fff!important;
  border-radius: 5px!important;
  padding: 10px 25px!important;

}
.btnfilter:hover{
  background: #AD76EC!important;
}
.item2{
  width: 22%!important;
  margin: auto!important;
  padding: 8px!important;

}
.topStrip{
 padding: 0px 25px!important;
}
.topStrip p{
  font-size: 20px!important;
}
.btns{
  margin-left: auto!important;
}
.btnback{
  background: #EC7676!important;
  color: #fff!important;
  padding: 10px!important;
  height: 40px!important;
  text-align: center!important;

}
.btnback:hover{
  outline: none!important;
}
.tab .bttn{
  text-transform: capitalize!important;
  margin-left: 10px!important;
  background: none!important;
  border: 1px solid #EC7676!important;
  padding: 10px 20px!important;
  color: rgb(0, 0,0,0.8)!important;
  border-radius: 10px!important;
  font-size: 16px!important;
}
.breadcrumbWrapper{
  width: 100%;
  height: auto;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(0, 0,0,0.1)!important;
}
.breadcrumb{
  background: none!important;
  padding: 0px!important;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;

}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #EC7676;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #EC7676;
  text-decoration: none;
}
.detailsPage .productInfo .priceSection .priceLarge{
     font-size: 55px;
     font-weight: bold;
     padding-right: 10px;
}
.oldPrice{
  font-size: 30px;
  font-weight: 600;
}
.productInfo h1{
  font-size: 55px;
  font-weight: bold;
  opacity: 0.8;
  color: #0d0d0e;
}
.productZoom{
  width: 100%;
  height: auto;
  border: 1px solid rgb(0, 0,0,0.1);
  padding: 10px;
  overflow: hidden;
  border-radius: 15px;
}
.zoomSlider{
  padding-top: 30px!important;
}
.zoomSlider .slick-slide{
  padding-right: 15px!important;
  overflow: hidden;
  border-radius: 15px !important;
}
.zoomSlider .slick-arrow{
  top: 30%!important;
  zoom: 70%!important;
}
.zoomSlider .slick-prev{
  left: -2%!important;
  top: 60%!important;
}
.zoomSlider .slick-next{
  right: -8%!important;
  top: 60%!important;
}
.zoomSlider .item{
  overflow: hidden;
  border-radius: 15px !important;
  border: 1px solid transparent;

}
.zoomSlider .slick-current .item{
  border: 1px solid #EC7676!important;
 
}
.detailsContainer{
  max-width: 90%;
}
.productSize{
  width: 100%;
  height: auto;
  padding: 25px 0px!important;
}
.productSize ul li{
   margin-right: 10px!important;
}
.ul1{
  padding-left: 10px!important;

}
.productSize ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px!important;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px!important;
  transition: all 0.1s ease-in-out!important;
  cursor: pointer;
  text-decoration: none;
  color: #000!important;
  font-size: 16px!important;
}
.productSize ul li a.active{
  background-color: #EC7676!important;
  color: #fff!important;

}
.addCartSection{
  width: 100%;
  height: auto;
}

.addCartSection .counterSection{
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: 1px solid #EC7676;
  overflow: hidden;
  padding: 10px;
  position: relative;

}
.addCartSection .counterSection input{
  width: 60%;
  height: 40px;
  padding: 5px;
  border: 0px;
  outline: none!important;
  text-align: center!important;
  font-size: large;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.btncart{
  margin: auto;
  margin-left: 20px!important;
  border-radius: 10px!important;
  text-transform: capitalize!important;
  font-size: 16px!important;
}

.plus{
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 10px;
  opacity: 0.5;
}
.minus{
  position: absolute;
  cursor: pointer;
  bottom: 2px;
  right: 10px;
  opacity: 0.5;
}